<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Our Idea" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
<body style="background-color:lightblue">
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Our Project</strong></h1>
        <h2 class="text-secondary">The Idea</h2>
        <p class="text-secondary">Our Idea for this project is to showcase the famous Marvel superheroes we all know and love, and showcase who they are and what they do</p>
        <h2 class="text-secondary">How Does It Work?</h2>
        <p class="text-secondary">Utilizing our API we used for this project, all you have to do to navigate the project is to simply see a superhero, click on it, and then learn some information about them and some things they did</p>
      
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
