<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{% set project = "Our Idea" %}

{% block body %}

<body style="background-color:lightblue">
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Our Project</strong></h1>
        <h2 class="text-secondary">The Idea</h2>
        <p class="text-secondary">Our Idea for this project is to showcase the famous Marvel superheroes we all know and love, and showcase who they are and what they do</p>
        <h2 class="text-secondary">How Does It Work?</h2>
        <p class="text-secondary">Utilizing our API we used for this project, all you have to do to navigate the project is to simply see a superhero, click on it, and then learn some information about them and some things they did</p>
        <h2 class="text-secondary">What Happened to your old idea?
        <p class="text-secondary">For an escape room game, it was going to take a lot more time and effort put into it than originally anticipated, so we had to cut back to a showcase as a result. So while it was a creative idea to make an adventure game for a project, it was a lot more time-consuming and advanced than we anticipated</p>

        {% endblock %}

{% block background %}
{% endblock %}
