
{% extends "layouts/base.html" %}


{% set project = "Program Design" %}


{% block body %}

<body style="background-color:lightblue">
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>The Program Design</strong></h1>
        <h2 class="text-secondary">Brain Storm</h2>
        <p class="text-secondary">Marvel theme/characters,
            Different items in a room that one can click on. It will take them to another screen where they need to figure something out to find the hint.
            Different choices result in different outcomes. Multiple rooms to go to.
            Make it easy for the game to be played, but the game itself to be kind of hard</p>
        <h2 class="text-secondary">Purpose</h2>
        <p class="text-secondary">The overall goal of our project is to use a fun interactive game to show off our group’s ability to work together and our coding expertise. Our plan for our project is to make a game which involves the user to go through an escape room. The user will be able to go through several scenarios which will all lead to different outcomes. We plan to make the game very interactive and enjoyable for everybody to play. Each decision the user makes changes the course of what their outcome is going to be to make it more fun and creative. To meet the college board’s requirements, we intend to make our game extremely difficult, and we’ll make sure that everyone can grasp the coding and explain it.</p>
        <h2 class="text-secondary">What we will and Won't Do</h2>
        <p class="text-secondary">For starters, we plan on designing our project in Applab. And by using that we will go into depth about the setting, the different possible endings in the game, and flesh out a good and lengthy story to go along with it. In order to make sure whoever’s playing is engaged with it, we need a long series of events to take place and an environment to look at and interact with. We’re not going to go really basic and simple. I made a prototype in vscode with 3 endings. It worked, but it still felt a bit barebones and not too fleshed out in comparison to what we have planned for our final project. If we want to make a project, at the very least it has to be fun and interesting to play.</p>
        <h2 class="text-secondary">Positive and Negative Impacts</h2>
        <p class="text-secondary">Our project will use a lot of design and code elements in order to make our project have its own unique charm and design. And using applab, we have minimum limits to what we can code or design. Apart from my mental sanity, the only major negative impacts we could have are the theme of our project not make sense, not be enjoyable, and not meet the expectations of being good we originally had. There’s also the possibility of any errors in code or design that can require a lot of adjusting in order to fix.</p>
        <h2 class="text-secondary">Following the CB Criteria</h2>
        <p class="text-secondary">Project Idea: Our Group is planning on making an interactive escape room game. We want the the user to be faced with several different actions to choose from. Each action will result in a different result. Certain results will produce more preferrable outcomes that will get the user closer to escaping the room. After series of different scenarios, the user will be informed on whether they the right decisions and successfully made it out of the escape room or if they are still trapped, in which they will be promted to play again.</p>
        <p class="text-secondary">Row 1: program purpose and function- In order to earn this point, our group will take screenshots of the code and provide in depth explanations of how the code works and explain our thinking behind it. This will be seperate from the game itself as we want it to be visually pleasing without code obstructing the experience for the user.</p>
        <p class="text-secondary">Row 2: data abstraction- We will be sure to include two program segments like stated int he rubric. Furthermore, one of the segments will show how data is stored in a list, and the other will show how the same data is used to complete the purpose of the program. </p>
        <p class="text-secondary">Row 3: manage complexity- Our group will spend extensive time on this project to make sure it is as advanced as possible. We will incorporate all the unique tricks we have learned throughout this trimester to demonstrate our learning. We will also write a detailed explanation of our code showing that we actually understand the code rather than just being able to write it.</p>
        <p class="text-secondary">Row 4: procedural abstraction- As stated in the rubric, we will have 2 program code segments that fulfill different requirements. One shwoing a student developed procedure with a parameter that has an effect on the functionality of the procedure. The other will show where the student-developed procedure is being called. </p>
        <p class="text-secondary">Row 5: algorithim implementation- We will incorporate sequencing, selection, and iterations, into our project code. This will display our diverse knowledge in coding. We will give a thorough explanation that will be easily understable for our grader.</p>
        <p class="text-secondary">Row 6: testing- We will describe the conditions being tetsed by each call to the procedure. Additionally, we will identify the result of each call. Our conditions will use parameters to exectue different code segments and execute/bypass code segements. </p>
        <h2 class="text-secondary">Visualization and Inspiration</h2>
    </div>
    <div class="row">
        <img src="https://github.com/kayleehou/myproject/blob/master/images/programdesign.PNG?raw=true" width="500" height="700" />
    <div>
        <p class="text-secondary"><img src="https://github.com/kayleehou/myproject/blob/master/images/projectinspo.PNG?raw=true" width="700" height="500" /></p>
        <p class="text-secondary">Since we are doing a mcu themed escape room, I made a collage of pictures that inspired me. I did research on what other escape games looked like and compiled them.</p>
{% endblock %}


{% block background %}
{% endblock %}

