<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Scrum Process" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>welcome to our group's flask page</strong></h1>
        <p class="text-secondary"><img src="https://github.com/kayleehou/groupflask/blob/main/images/scrumprocess.png?raw=true" width="1000" height="700" /></p>
        <h2 class="text-secondary">Program Design</h2>
        <h3 class="text-secondary">Brain Write</h3>
        <p class="text-secondary">Marvel theme/characters
            Different items in a room that one can click on. It will take them to another screen where they need to figure something out to find the hint.
            Different choices result in different outcomes
            Multiple rooms to go to
            Make it easy for the game to be played, but the game itself to be kind of hard</p>
        <h4 class="text-secondary">Purpose</h4>
        <p class="text-secondary">The overall goal of our project is to use a fun interactive game to show off our group’s ability to work together and our coding expertise. Our plan for our project is to make a game which involves the user to go through an escape room. The user will be able to go through several scenarios which will all lead to different outcomes. We plan to make the game very interactive and enjoyable for everybody to play. Each decision the user makes changes the course of what their outcome is going to be to make it more fun and creative. To meet the college board’s requirements, we intend to make our game extremely difficult, and we’ll make sure that everyone can grasp the coding and explain it.</p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}

